
extends layout

block content
    include navigation
    include account
    include modals/alert
    include modals/confirm

block scripts
    script(src='/vendor/javascripts/jquery.min.js')
    script(src='/vendor/javascripts/jquery.form.js')
    script(src='/vendor/javascripts/bootstrap-modal.js')
    script(src='/vendor/javascripts/bootstrap-transition.js')
    script(src='/js/views/home.js')
    script(src='/js/controllers/homeController.js')
    script(src='/js/form-validators/accountValidator.js')